<!DOCTYPE html> 
<html xmlns:ng="http://angularjs.org"> 
	<head>
		<title>
			<%= title %>
		</title> 
	</head> 
	<body> 
		<h1>
			<%= title %>
		</h1>
		<% if(userFullname) { %>
			<h2> welcome <%= userFullname %></h2>
			<a href="/signout">signout</a>
		<% } else { %>
			<a href="/signup">signup</a>
			<a href="/signin">signin</a>
		<% } %>
		<br>
		<section>
			<input type="text" id="text1" ng-model="name">
			<input type="text" id="text2" ng-model="name">	
		</section>
		
		<script type="text/javascript" src="/lib/angular/angular.js"></script>
		<script type="text/javascript" src="/application.js"></script>
	</body> 
</html>